@import "./../../../../views/Home/templates/styles/news.module.scss";

.resources {
  padding: 20px 20px;
}
.para1 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a8f4a;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @include responsive(tab) {
    font-size: 30px;
  }

  &_sub {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border: 1px solid #13895228;
    color: #138951;
    padding: 15px 35px;
    border-radius: 10px;

    @include responsive(tab) {
      padding: 10px 25px;
      visibility: visible !important;
    }

    &:hover {
      color: #138951;
    }
  }
}

.upload {
  margin-right: 15px;
  @include responsive(tab) {
    margin-right: 0px;
  }
}

.breadcrumb {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;

  &_para1 {
    margin-right: 10px;
    cursor: pointer;
  }
  &_para2 {
    margin-right: 10px;
  }
  &_para3 {
    cursor: pointer;
  }
}

.para2 {
  &_main {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    border-bottom: 3px solid #1a8f4a;
    color: #161e03;
    padding-bottom: 4px;

    @include responsive(phone){
        font-size: 20px;
        padding-bottom: 3px;
    }
  }
}
