@import "./../../../../views/Home/templates/styles/news.module.scss";

// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.resources {
  padding: 20px 20px 70px 20px;
  padding-bottom: 200px;
  // height: auto;
}
.para1 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a8f4a;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @include responsive(tab) {
    font-size: 30px;
  }

  &_sub {
    font-family: Lato;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border: 1px solid #13895228;
    color: #138951;
    padding: 15px 35px;
    border-radius: 10px;
    cursor: pointer;

    @include responsive(tab) {
      padding: 10px 25px;
      visibility: visible !important;
    }

    &:hover {
      color: #138951;
    }
  }
}

.upload {
  margin-right: 15px;
  @include responsive(tab) {
    margin-right: 0px;
  }
}

.breadcrumb {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;

  &_para1 {
    margin-right: 10px;
    cursor: pointer;
  }
  &_para2 {
    margin-right: 10px;
  }
  &_para3 {
    cursor: pointer;
  }
}
.lectures {
  height: 90vh;
}
.para2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  @include responsive(tab) {
    padding-bottom: 5px;
  }
  &_main {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    border-bottom: 3px solid #1a8f4a;
    color: #161e03;
    // padding-bottom: 4px;
    @include responsive(phone) {
      font-size: 20px;
      // padding-bottom: 3px;
    }
  }

  &_sub {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #138951;

    &:hover {
      color: #138951 !important;
    }
  }
}

.arrow {
  margin-left: 10px;
  margin-top: -4px;
}

// news
.news_body {
  height: 70vh;

  @include responsive(tab) {
    margin-top: 100px;
  }
  @include responsive(phone) {
    height: auto;
    margin-top: 950px;
  }
}

.news {
  background-image: linear-gradient(
      179.66deg,
      rgba(98, 98, 98, 0.35) 50%,
      #000000 99.7%
    ),
    url(./../../../../assets/pass.png);
  background-size: cover;
  width: 100%;
  height: 267px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 89px 9px 9px 9px;
  gap: 40px;
  color: #ffffff;

  @include responsive(phone) {
    width: 95%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.news_author {
  font-family: Lato;
  font-size: 11px;
  font-weight: 800;
  line-height: 3px;
}
.news_title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 5px;
  margin-top: 0;
}
.news_text {
  font-family: Nunito;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  padding-top: 75px;
}
// upcoming events
.events_body {
  height: 70vh;

  @include responsive(phone){
    padding-top: 40px;
  }

}
.events {
  // background-image:  url(./../../../../assets/events.jpg);
  height: 265px;
  width: 100%;
  border-radius: 9.982301712036133px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
 
  @include responsive(phone){
    margin-bottom: 10px;
    // margin-right: 10px;
  }
}

.badge {
  height: 69px;
  width: 97px;
  border-radius: 9px;
  padding: 19px;

  background: linear-gradient(
    132.84deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: 6px 6px 9.9823px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(9px);
  border-radius: 9px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 4px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;

  @include responsive(tab){
    height: 65px;
    width: 90px;
  }
  @include responsive(phone){
    height: 63px;
    width: 86px;
  }
}

.events_text {
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  color: #f6f6f6;
  display: flex;
  align-items: flex-end;
  height: 50%;
  padding-left: 15px;
  padding-right: 15px;
  @include responsive(tab){
    font-size: 16px;
  }
}
.modalContainer{
  padding: 40px 30px 40px 30px;
}
.input{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  background-color: #F1F6F9;
  color: grey;
}
textarea{
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  background-color: #F1F6F9;
  color: grey;
  width: 100%;
}
.input:focus{
  border: none;
}
.formGroup{
  margin-bottom: 30px;
  @media screen and (max-width:768px) {
      margin-bottom: 10px;
  }
}

.formLabel{
  color: #262627;
  font-weight: 500;
  margin-bottom: 10px;
  @media screen and (max-width:768px) {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
  }
}

.modalHeader{
  color: #1A8F4A;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.btnSubmit{
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background-color: #1A8F4A;
  border-radius: 7px;
  // margin-top: 30px;
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.errorMsg{
  color: red;
  font-size: 14px;
}

