@import "../../../views/Home/templates/styles/news.module.scss";

.events_body {
    height: 70vh;
  
    @include responsive(phone){
      padding-top: 40px;
    }
  
  }
  .events {
    // background-image:  url(./../../../../assets/events.jpg);
    height: 265px;
    width: 100%;
    border-radius: 9.982301712036133px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
   
    @include responsive(phone){
      margin-bottom: 10px;
      // margin-right: 10px;
    }
  }
  
  .badge {
    height: 69px;
    width: 97px;
    border-radius: 9px;
    padding: 19px;
  
    background: linear-gradient(
      132.84deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow: 6px 6px 9.9823px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 9px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 4px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
  
    @include responsive(tab){
      height: 65px;
      width: 90px;
    }
    @include responsive(phone){
      height: 63px;
      width: 86px;
    }
  }
  
  .events_text {
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    color: #f6f6f6;
    display: flex;
    align-items: flex-end;
    height: 50%;
    padding-left: 15px;
    padding-right: 15px;
    @include responsive(tab){
      font-size: 16px;
    }
  }