@import "tailwindcss/components";
/* ---------- import component folder ---------- */
@import "tailwindcss/components";

/* ----------- import utilities folder ---------- */
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
.hideOnDesktop{
    display: none;
}
.hideOnMobile{
    display: block;
}

@media screen and (max-width:768px) {
    .hideOnDesktop{
        display: block !important;
    }
    .hideOnMobile{
        display: none !important;
    }
}