.studentScreen{
    min-height: 100vh;
    box-sizing: border-box;
}
.main{
    min-width: 100%;
    min-height: 150px;
    padding: 40px 0 60px 35px;

    @media screen and (max-width:768px) {
        padding: 40px 15px 40px 15px;
    }
}
.top{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    // margin-left: 35px;
    align-items: center;
    height: 50px;
    margin-bottom: 17px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 300px;
    padding-right: 10px;
}
.search > input{
    width: 100%;
    height: 48px;
    padding: 10px 10px 10px 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 14px;
}
.searchPanel{
    display: flex;
    @media screen and (max-width:768px) {
       display: block;
    }
}
// .search .mdsearch{
//     position: relative;
//     right: 50px;
//     cursor: pointer;
// }
// @media screen and (max-width:800px) {
   
//     .search .mdsearch{
//         right: 40px;
//     }
//     .search > input{
//         font-size: 10px;
//     }
// }
// @media screen and (min-width: 410px) and (max-width: 800px) {
//     .search > input{
//         font-size: 15px;
//     }
// }
 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A8F4A !important;
    color: white !important;
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin:0 10px 0 0;
    color: #fff;
    font-family: Lato;
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
    color: white;

    @media screen and (max-width:800px) {
        max-width: 180px;
        height: 40px;
        margin-top: 10px;
        margin-left: 0px;
        border-radius: 5px;
        font-size: 14px;
        width: 100px;
    }
}
.search .button:hover{
    background-color: #1A8F4A;
    color: white;

}
.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;

    @media screen and (max-width:768px) {
        width: 30px;
        height: 30px;
    }
}
.toptable{
    overflow-x: auto;
}
.tableContainer{
    max-width: 100%;
    overflow-x: scroll;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 50px;
}
// @media screen and (min-width: 1100px) {
//     .toptable{
//         overflow-x: hidden;
//     }
// }
table{
    width: 100%;
    font-family: Lato;
    border-collapse: collapse;

    @media screen and (max-width:768px) {
        font-size: 13px;
    }
}
td, th{
    border-bottom: 1px solid rgba(167, 207, 184, 0.4) !important;
    padding: 8px;
}
tr:nth-child(odd){
    color: #1A8F4A;
    // border-left: 2px solid #1A8F4A;
}
tr:nth-child(even){
    border-left: 2px solid #f3f3f3;
}
th {
    background-color: #1A8F4A;
    color: #fff;
}
th:first-child{
    border-top-left-radius: 8px !important;
}
th:last-child{
    border-top-right-radius: 8px !important;
}
.scroll{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -140px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color:#fff;
    justify-content: center;
    color: #1A8F4A;
    font-family: Lato;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 19px;
    box-shadow: 2px 4px 5px 5px rgba(.1,.1,.1,.1);
}

.boldHeader{
    color: #1A8F4A;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;

    @media screen and (max-width:768px) {
        font-size: 24px;
    }
}
.subHeader{
    color: black;
    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}