@mixin  responsive($breakpoint) {
    @if $breakpoint==phone{
        @media screen and (max-width:430px){@content};
    }
    @if $breakpoint==tab{
        @media screen and (max-width:768px){@content};
    }
};


.lecture{
    height: 1571px;
    padding: 96px 85px 126px 85px;
    width: 100%;
    @include responsive(phone){
        padding: 0;
        padding-top: 10px;
        padding-left: 10px;
    };
    @include responsive(tab){
        padding: 10px;
    };
}


.text{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
    margin-right: 15px;
    @include responsive(phone){

    }
}
.text_filter{
    @include responsive(phone){
        margin-right:30px
    }
}
.input{
    height: 43px;
    width: 260px;
    border-radius: 8px;
    padding: 10px 16px;
    color:#707070;
    border: 1px solid #D0D5DD ;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

  @include responsive(tab){
    height: 39px;
    width: 210px;
    border-radius: 4px;
    
  }
    

}

.input:focus{
    outline: none;
   
}

.upper{
    display: flex;
    width: 100%;

    @include responsive(phone){
        display:block
    }

}

.search{
    flex: 1;
    justify-content: flex-end;
    
    @include responsive(phone){
        padding-top: 1.5rem;
    }
}


