.searchInput{
    border: none;outline: none;
    background-color: inherit;
    width: 100%;
    margin-left: 1rem;
}
.searchInput:focus{
    outline: none;
}
.searchBox{
    background-color: #F5F5F5;
    height: 3rem;
    width: 100%;
    display: flex;align-items: center;
    border-radius: 5px;
    padding-left: 1rem;
    color: #7C7C7A;
    padding-right: 1rem;
}
.navLists{
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.navItem{
    margin-bottom: 2rem;
    color: #7C7C7A;
    font-size: 16px;
}
.icon{
    margin-right: 0.7rem;
}
.navLabel{
    font-weight: 600;
}
.logOut{
    margin-top: 3rem;
}
.newStudentBlock{
    min-height: 100px;
    border: 1px dashed #7C7C7A;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
}
.fab{
    background-color: #1A8F4A;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
}
.bold{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.light{
    color: #7C7C7A;
    font-size: 14px;
}
.dot{
    margin-left: 2rem;
}
