@mixin mobile {
    @media only screen and (max-width: 768px){
        @content
    }
}
@mixin tablet {
    @media only screen and (min-width: 768px) and (max-width: 900px){
        @content
    }
}


.about{
    background-color: #fcfff5;
 


    .box{
        display: flex;
        justify-content: space-between;
        gap: 25px;

        @include mobile{
         flex-direction: column;
        }
    
    }

}
.icons{
    display: flex;
    gap: 27.5px;
    background-color:  #EBF4F0;
    padding: 0px 9px 0px 9px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: fit-content;
   


    @include mobile{
        height: 50px;
        gap: 17.5px;
    }

  

    .icon{
        display: flex;
        gap:2px;
       line-height: 21px;
       
      
      
        border-radius: 5px;
        padding: 5px;
        height: 30px;
        cursor: pointer;
        width: 100px;
         color: #4F4F4F;
        //  background-color: #1A8F4A;
        border: none;
        
     
     
        @include mobile{
           width: 80px;
        }
    
        p{
            font-size: .8em;
            margin-left: 1px ;

            @include mobile{
                font-size: .6em;
                margin-left: 2px ;
        }
        }

    
    }

}
.welcomeBold{
    font-size: 40px;
    font-weight: bold;
    text-align: left;

    @media screen and (max-width:768px) {
       font-size: 28px;
    }
}
.welcomeTab{
    padding: 5rem 5rem 5rem 5rem;

    @media screen and (max-width:768px) {
        padding: 1rem;
    }
}
.sidebar1{
    text-align: justify;
    @media screen and (max-width:768px) {
        margin-bottom: 4rem;
    }     

    h1{
      
        line-height: 48px;
        font-size: 48px;
        font-weight: 700;
        color: #161E03;
        white-space: wrap;
        padding-top: 30px;
 

        @include mobile{
            font-size: 28px;
            line-height: 38px;
        }

     

    }
    h1::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 0px;
        border-top: 5px solid #8FC620;
        width: 7rem;

        @include mobile{
            width: 4rem;
            border-top: 1px solid #8FC620;
        }
  
        
    }



.flex{
    display: flex;
    align-items: center;
    gap: 10px;

    p{
       position: relative;
       top: 8px;
    }
   .flexicon{
    background-color: rgba(26, 143, 74, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    color: #1A8F4A;
   }
}



  
}
.img{
    width: 100%;
    object-fit: cover;
}

.sidebar2{
    // padding: 3rem;
    // @media screen and (max-width:768px) {
    //     margin-top: 40px;
    // }

 

   

    
    .article{
        @include tablet{
            position: relative;
            right: 70px;
        
        }
    }
        h1{
            color: #161E03;
            font-weight: 700;
            line-height: 40px;
            font-size: 33px;
            padding: 13px 0px;
        

            @include mobile{
            padding: 15px 0px;
                font-size: 23px;
                line-height: 30px;
                text-align: center;
            }

            @include tablet{
            padding: 20px 0;
            }

        }
        p{
        color: #262627;
        font-size: 16px;
        font-weight: 600;
            line-height: 28px;

            @include mobile{

            text-align: left;
        }
        }
}



.footerwrap{
   

    iframe{
       
    }
}

.foot{
    background-color:  #161E03;
    width: 100%;
    height: fit-content;
    padding-bottom: 4rem;
    

    @include mobile{
    height: fit-content;

    
   }

   @include tablet{
    height: fit-content;
    padding: 20px;
    
   }


    


    p{
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        line-height: 30px;
        margin-top: 20px;
    }
    
.que{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    // line-height: 61px;
    text-align: center;
    padding-top: 80px;
    letter-spacing: 2px;
    max-width: 800px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

   

//   @media screen and (max-wi) {
    
//   }
    h1{
        // @media  screen and (max-width: 768px){
        //    font-size: 25px;
        // }
        span{
            color: #8FC620;
        }
        
    }
    p{
        text-align: center;
        @media  screen and (max-width: 768px){
            font-size: 14px;
         }
    }
}

.footer{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    color: #FFFFFF;
   
    margin-top: 5rem;
    // margin-top: 270px;
    padding: 0 4rem;

    @include mobile{
        flex-direction: column;
        padding: 0 2rem;
    
   }



   .footitem{
        p{
            font-size: 16px;
        }
   }
    .footitem:not(:last-child){
        border-right: 0.5px solid white;
       
    
    @include mobile{
      border-right: none;border-bottom:  0.5px solid white;
    
   }
}

    h4{
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        
    }
    p{
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        @media  screen and (max-width: 768px){
            font-size: 13px;
         }
    }


}

}
