.banner{
    min-height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right:5px;
    }
    
}

.nameBox{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    background-color: rgba(16, 110, 66, 0.6);
    flex: 1;
    min-height: 50vh;
    max-width: 50vw;
    color: white;
    padding: 30px 70px;

    
    @media screen and (max-width:768px) {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 80vw;
        margin-right: 0.4rem;
        margin-left: 0.4rem;
    }
}
.bold{
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-bottom: 30px;

    @media screen and (max-width:768px) {
        font-size: 26px;
    }
}

.control{
    background-color:#E0E0E0;
    opacity: 0.4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media screen and (max-width:768px) {
       width: 40px;
       height: 40px;
    }
   
}
.normalText{
    font-size: 14px;
    margin-bottom: 40px;
}
.btnRegister{
    font-size: 14px;
    font-weight: medium;
    width: 200px;
}