@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@400;700&display=swap');


$primary_color:#fcfff5;
$button_border: #8FC620;
$button_text: #1A8F4A;

@mixin  responsive {
    @media screen and (max-width:768px){@content};
}

.calender{
    background-color: $primary_color;
    height: auto;
   
.calender_body{
    
    padding: 3rem;
    
}

.calender_sideOne{
    line-height: 5rem;
    width: 43%;
  
    @include responsive{
        height:50vh ;
        width: 100%;
    }
}
}

.calender_line{
    border-bottom: 5px solid #8FC620;
    width: 7rem; 
    @include responsive{
        width: 6rem;
    }
}

.calender_para1{
font-family: Open Sans;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: left;
padding-top: .5rem;

@include responsive{
    font-size: 40px;
    font-weight: 600;
}


}

.calender_para2{
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: .3rem;
padding-top: .5rem;

@include responsive(){
    font-size: 19px;
    letter-spacing: 5px;
    
}
}

.calender_button{
    line-height: 22.4px;
    border-radius: .8rem;
    padding: 20px 48px;
    border: 1px solid $button_border;
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: $button_text ;

    @include responsive(){
        margin: 20% auto;
        padding: 20px 20px;
        font-weight: 600;
        border-radius: 5px;
    }

    &:hover{
        text-decoration: none;
        color: $button_text;
    }
}




.calender_sideTwo{
    background-color:#FFFFFF;
    width: 703px;
    height: auto;
    padding: 40px 32px 40px 32px;
    margin: 30% auto;
    box-shadow: -2px 1px 5px 0px #DADADA40;
    border-radius: 5px;
    line-height: 1.7;
    text-align: center;
    margin: 0% auto;

   
}
.calender_sideTwo_main{

    &_text{
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        color: $button_text;
        padding-top: 20px;


    }

    &_date{
        display: block;
       
     

    }
    &_month{
        display: block;
        font-size:17px

    }

    &_title{
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: #4A4A4A;
        padding-top: 29px;
        word-spacing: 5px;
    }
}
