
.events{
    height:100vh;
    background-color:#EEF7F3;
    padding-top: 3rem;
}
.events_main{
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.line{
    border-bottom: 5px solid #8FC620;
    width: 109px; 
}

.para1{
    padding-top: 1rem;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;

}