* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resources {
  padding: 20px 20px;
  height: auto;
}

.para1 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a8f4a;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .para1 {
    font-size: 30px;
  }
}
.para1_sub {
  font-family: Lato;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  border: 1px solid rgba(19, 137, 82, 0.1568627451);
  color: #138951;
  padding: 15px 35px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .para1_sub {
    padding: 10px 25px;
    visibility: visible !important;
  }
}
.para1_sub:hover {
  color: #138951;
}

.badge {
  height: 69px;
  width: 97px;
  border-radius: 9px;
  padding: 19px;
  background: linear-gradient(132.84deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 6px 6px 9.9823px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  border-radius: 9px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 4px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .badge {
    height: 65px;
    width: 90px;
  }
}

.events_text {
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  color: #f6f6f6;
  padding-top: 125px;
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  .events_text {
    font-size: 16px;
  }
}

.breadcrumb {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}
.breadcrumb_para1 {
  margin-right: 10px;
  cursor: pointer;
}
.breadcrumb_para2 {
  margin-right: 10px;
}
.breadcrumb_para3 {
  cursor: pointer;
}

.para2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .para2 {
    padding-bottom: 5px;
  }
}
.para2_main {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  border-bottom: 3px solid #1a8f4a;
  color: #161e03;
}
@media screen and (max-width: 443px) {
  .para2_main {
    font-size: 20px;
  }
}
.para2_sub {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #138951;
}
.para2_sub:hover {
  color: #138951 !important;
}

.top_barnner {
  min-width: 100%;
  min-height: 250px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 14px;
  padding: 0 20px 35px 0;
}

.top_barnner > .barnner_details {
  margin-left: 90px;
}

.top_barnner > .barnner_details .banner_ele1,
.top_barnner > .barnner_details .banner_ele2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.top_barnner > .barnner_details .banner_ele3 {
  color: #ffffff;
  font-size: 20px;
  margin-top: 9px;
}

.btnRegister {
  width: 300px;
  height: 60px;
  border: none;
  color: white;
  background-color: #1A8F4A;
  border-radius: 7px;
  margin-left: 90px;
  margin-top: 30px;
}
@media screen and (max-width: 440px) {
  .btnRegister {
    max-width: 200px;
  }
}
@media screen and (max-width: 285px) {
  .btnRegister {
    max-width: 150px;
  }
}

.about_event {
  min-width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 25px;
}
@media screen and (max-width: 768px) {
  .about_event {
    flex-direction: column;
    margin: 40px 25px 25px 20px;
  }
}

.about_event .about1 {
  min-width: 50%;
}
@media screen and (max-width: 768px) {
  .about_event .about1 {
    min-width: 100%;
    padding: 10px 10px 10px 0;
  }
}

.about_event .about2 {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 35px;
}
@media screen and (max-width: 768px) {
  .about_event .about2 {
    display: none;
  }
}
@media screen and (min-width: 773px) and (max-width: 960px) {
  .about_event .about2 {
    padding-left: 45px;
  }
}

.about2 .event2 {
  width: 350px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .about2 .event2 {
    max-width: 350px;
  }
}

.about_event .about1 h4 {
  color: #000000;
  text-decoration: underline;
  -webkit-text-decoration-color: #1A8F4A;
          text-decoration-color: #1A8F4A;
  font-weight: bolder;
}

.about_event .note {
  font-size: 20px;
  color: grey;
}/*# sourceMappingURL=event.module.css.map */