

@mixin  responsive($breakpoint) {
    @if $breakpoint==phone{
        @media screen and (max-width:430px){@content};
    }
    @if $breakpoint==tab{
        @media screen and (max-width:768px){@content};
    }

}

.pass{
    background-color: rgba(19, 137, 81, 0.15);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #1A8F4A;
    padding: 11px 30px;
    border-radius: 30px;

    @media screen and (max-width:768px) {
        padding: 8px 25px;
        border-radius: 20px;
    }
    

    

}
.fail{
    background-color: rgba(80, 203, 145, 0.15);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #E96D6D;
    padding: 11px 35px;
    border-radius: 30px;

    @media screen and (max-width:768px) {
        padding: 8px 30px;
        border-radius: 20px;
    }


}
thead{
    height: 60px;
}

.trows{
    height: 70px;
    margin-left: 100px !important;

    @media screen and (max-width:768px) {
        height: 50px;
    }
}

.trows:nth-child(odd){
    border-left: 3px solid #1A8F4A;
}

.table_title{
    font-family: Open Sans;
    font-weight: 600;
    line-height: 43px;
    

    &_main{
        font-size: 24px;
        color: #161E03;

        @include responsive(tab){
            font-size: 20px;
            line-height: 30px;
            
        }
    }
    &_sub{
        font-size: 18px;
        font-weight: 600;
        line-height: 33px;
        color: #667085;

        @include responsive(tab){
            font-size: 17px;
        }       
    }
}
.tableContainer{
    overflow-x: scroll;
    margin-left: -10px;
    margin-right: -10px;
}