.result{
    padding: 25px 30px 40px 30px;

    @media screen and (max-width:768px) {
        padding: 25px 10px 30px 10px;
    }
}

.header{
    @media screen and (max-width:768px) {
        padding-left: 1rem;
    }
}
.headerText{
    color: #1A8F4A;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;

    @media screen and (max-width:768px) {
        font-size: 24px;
    }
}
.breadCrumb{
    font-size: 1rem;
    cursor: pointer;
}
.b__student{
    color: #667085;
}
.b__icon{
    margin-left: 10px;
    margin-right: 10px;
    color: #667085;
    font-weight: 400;
    font-size: 20px;
}
.b__addNew{
    color: #1A8F4A;
    
}
.uploadArea{
    background-color: white;
    min-height: 50vh;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin-top: 20px;

    @media screen and (max-width:768px) {
        padding: 20px 20px 20px 20px;
    }
}
.formArea{
    margin-top: 30px;
    margin-bottom: 30px;
}
.formHeaderText{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}
.formLabel{
    color: #262627;
    font-weight: 500;
    margin-bottom: 10px;
    @media screen and (max-width:768px) {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
    }
}
.input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: #F1F6F9;
    color: grey;
}
.input:focus{
    border: none;
    
}
.formGroup{
    @media screen and (max-width:768px) {
        margin-bottom: 10px;
    }
}
.row{
    margin-bottom: 15px;
    @media screen and (max-width:768px) {
        margin-bottom: 0px;
    }
}
.btnAdd{
    font-size: 14px;
    border-radius: 6px;
    background-color: rgba(19, 137, 81, 0.15);
    color: #1A8F4A;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.plusSign{
    font-size: 17px;
    font-weight: 600;
}
.modalContent{
    padding: 20px 30px 40px 30px;
}
.close{
    margin-bottom: 20px;
    cursor: pointer;
}
.modalHeader{
    color: #1A8F4A;
    font-weight: 600;
    font-size: 25px;
}
.modalSubtitle{
    color: #667085;
    font-size: 14px;
}
.modalForm{
    margin-top: 30px;
}
.btnAddResult{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: #1A8F4A;
    border-radius: 7px;
    margin-top: 30px;
}
.tableSection{
    @media screen and (max-width:768px) {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    button{
        height: 40px;
        min-width: 140px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;
    }
}
.btnReset{
    border: 1px solid #1A8F4A;
    color: #1A8F4A;   
    margin-right: 20px;
    background-color: white;
}
.btnSave{
    border: 1px solid #1A8F4A;
    background-color: #1A8F4A;
    color: white;
}
.btnSave:disabled{
    opacity: 0.5;
}
.errorMsg{
    color: red;
    font-size: 14px;
}