.sideBar{
    background-color: #0D5459;
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 40px !important;
    padding-right: 20px;
   
}
.mobileSideBar{
    background-color: #0D5459;
    width: 60vw;
}


.mobileTop{
    padding-top: 30px;
    padding-left: 20px;
}