.dashboard {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fafafa;
  padding: 40px 30px 20px 20px;
}
@media screen and (max-width: 768px) {
  .dashboard {
    padding: 20px 10px 20px 10px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 10px;
  }
}

.boldHeader {
  color: #1A8F4A;
  font-size: 35px;
  font-weight: 700;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .boldHeader {
    font-size: 24px;
  }
}

.subHeader {
  color: black;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .subHeader {
    font-size: 14px;
  }
}

.card {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}

.card .card1, .card2, .card3 {
  width: 31.5%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid whitesmoke;
  padding: 20px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .card .card1, .card2, .card3 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.card .icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A8F4A;
  margin-right: 20px;
}

.card .cardContent .details {
  color: grey;
  font-size: 18px;
}

.card .cardContent .subDetails {
  color: #000;
  font-size: 25px;
  font-weight: bolder;
}

.calTab {
  min-width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .calTab {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.calTab .tab {
  width: 60%;
  background-color: #fff;
  padding: 25px 20px;
  border: 2px solid whitesmoke;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .calTab .tab {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.calTab .tab .notify {
  font-size: 18px;
  color: #000;
  font-weight: 800;
}

.calTab .tab .subTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.calTab .calendar {
  width: 40%;
  height: auto;
  padding: 20px 10px 0 10px;
  background-color: #fff;
  border: 2px solid whitesmoke;
}
@media screen and (max-width: 768px) {
  .calTab .calendar {
    width: 100%;
  }
}

.calTab .calendar .calHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
}

#overlay {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbf0da;
  z-index: 2;
  border-radius: 7px;
  border-left: 4px solid #1A8F4A;
  padding: 16px;
}

.tableHead {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .tableHead {
    font-size: 20px;
  }
}

.tableSection {
  margin-top: 50px;
}/*# sourceMappingURL=dashboard.module.css.map */